a {
	text-decoration: none;
  color: rgb(255,59,48);
}

a:hover {
  text-decoration: none;
  color: #d70015;
}

* {
	cursor: default !important;
}

*:hover {
  cursor: default !important;
}

.btn:hover {
  cursor: default;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
	background-color: whitesmoke;
}

.navbar {
	background-color: darkseagreen;
}

h1 {
  font-size: 30px;
  letter-spacing: -1px;
  color: #222;
  font-weight: bold;
}

.content {
  padding: 1rem 0 0 1rem;
}

h3 {
  color: #aaa;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  letter-spacing: -1px;
  color: #666;
  font-weight: bold;
}

p {
  line-height: 1.25;
}

.card-footer {
  background: white;
}

.card-img, .card-img-bottom, .card-img-top, .carousel, .carousel-inner {
  height: 16rem;
  object-fit: contain;
}

.product-img {
  margin: 0 0 2rem 0;
}

.product-details {
  margin-left: 7rem;
}

.carousel { 
  background: grey;
}

.product-imgs > .carousel { 
  width: 50vw;
  height: 50vh;
}

.carousel-item > img {
  object-fit: contain;
}

.product-imgs > .carousel > .carousel-inner > .carousel-item > img, .product-imgs > .carousel > .carousel-inner, .product-img
{
  height: 50vh;
}

.card {
  max-width: 20rem;
}

.store-sidebar {
  min-width: 19.5%;
  float: left;
}

.store-container {
  display: flex;
  flex-wrap: nowrap;
  min-height: 100vh;
  overflow-x: auto;
  margin: -1rem 0 0 0;
}

.product-imgs {
  padding: 0 1rem 1rem 0;
  max-height: 50vh;
}

.product-img {
  object-fit: contain;
}

.home { 
  display: flex;
  justify-content: center;
}